* {
    margin: 0;
    padding: 0;
}
body {
    width: 1024px;
    text-align: center;
    margin: auto;
}

.auth {
    margin-top: 20%;
    margin-left: 20%;
}

.chat {
    margin-left: 10%;
}

.logout {
    margin-left: 50%;
}

.message {
    text-align: left;
}

.info {
    margin-top: 10%;
}

.myinput {
    width: 700px;
}